*Debug
*.obj
*.log
*.tlog
*.exe
*.vs*
task2/.vs/task2/v15/Browse.VC.db
task2/.vs/task2/v15/.suo
Ukazateli/chetnieVmestoNechetnih/chetnieVmestoNechetnih/pch.cpp
Ukazateli/chetnieVmestoNechetnih/chetnieVmestoNechetnih.sln
Ukazateli/chetnieVmestoNechetnih/chetnieVmestoNechetnih/chetnieVmestoNechetnih.vcxproj
Ukazateli/chetnieVmestoNechetnih/chetnieVmestoNechetnih/chetnieVmestoNechetnih.vcxproj.filters
Ukazateli/chetnieVmestoNechetnih/chetnieVmestoNechetnih/chetnieVmestoNechetnih.vcxproj.user
Ukazateli/chetnieVmestoNechetnih/chetnieVmestoNechetnih/pch.h
